<h2><% @contacts.each do |contact| %><h2>

<h3>Full Name: <%= contact.first_name %> <%= contact.last_name %></h3>
<h2>Phone: <%= contact.phone_number %></h2>
<h2>Email: <%= contact.email %></h2>

<% end %>