

<% if current_user %>
  <h2>Here are all your contacts:  </h2>
  <% current_user.contacts.each do |contact| %>
  <div class="thumbnail">
    <h3>Full Name: <%= link_to contact.full_name, "/contacts/#{contact.id}" %></h3>
    <h4>Phone: <%= contact.japanese_phone %></h4>
    <h5>Email: <%= contact.email %></h5>
  </div>
  <% end %>
<% else %>
  <h2>Please login to access contact information</h2>
<% end %>